.imgWidth{
    width: 600px;
}

.logoWidth{
    width: 300px;
}

.bannerWidth{
    height:600px;
    width: 100%;
}

.textSize{
    font-size: 20px;
}
.alignRight{
    float:right;
}
.imgWidth2 {
    width: 600px;
}
.imgWidth3 {
    width: 300px;
    border: 10px solid;
    border-color: white;
}
.alignLeft{
    float:left;
}

.table{
    font-size: 20px;
    width: 50%;
    margin-left: 500px;

}
th{
    text-align: center;
    border: 2px solid;
    height: 70px;
    background: lightcyan;
    border-color: white;
}
td{
    text-align: left;
    border: 2px solid;
    height: 33px;
    background: lightcyan;
    border-color: white;
}
.table2{
    float: left;
    font-size: 20px;
    width: 40%;

}
.table3{
    float: right;
    font-size: 20px;
    width: 55%;

}

.font{
    font-size: 27px ;
}
.hv:hover {
    color: #CE242B;
    text-decoration: underline;
}

.ul {
    padding-bottom: 60px;
}

.text{
    margin-right: 350px;
    margin-left: 350px;
}

.h{
    margin-left: 750px;
    padding-top: 760px;
}

.h2{
    margin-left: 750px;

}
