
.imgWidth{
    width: 600px;
}

.logoWidth{
    width: 300px;
    margin-top: 15px;
    align-content: start;
    margin-right: 2000px;
}

.bannerWidth{
    height:600px;
    width: 100%;
    margin-bottom: 30px;
}

.textSize{
    font-size: 22px;
}

.alignRight{
    float:right;
}

.imgWidth2 {
    width: 600px;
}

.imgWidth3 {
    width: 150px;
    border: 10px solid white;
}

.imgWidth4{
    width: 250px;
    border: 2px solid #00BFFF;
    justify-content: center;
}

.imgWidth5{
    width: 450px;
    border: 2px solid #00BFFF;
    margin-left: 370px;
}

.imgWidth6{
    width: 450px;
    border: 2px solid #00BFFF;
    float: right;
    margin-top: 28px;
}

.imgWidth8{
    width: 700px;
    margin-left: 160px;
}

.imgWidth7{
    width: 700px;
    margin-left: 160px;
    margin-bottom: 50px;
}

.imgWidth0{
    width: 300px;
    float: right;
    margin-right: 170px;
    margin-top: 10px;
}

.imgWidth10{
    width: 300px;
    float: left;
    margin-left: 70px;
    margin-top: 110px;
    margin-bottom: 50px;
}

.imgWidth11{
    width: 300px;
    float: left;
    margin-left: 30px;
    margin-top: 110px;
    margin-bottom: 50px;
}

.hu-imgWidth{
    width: 550px;
    float: right;
    margin-right: 110px;
}

.hu-imgWidth2{
    width: 450px;
    margin-left: 90px;
    margin-top: 60px;

}

.hu-imgWidth3{
    width: 450px;
    margin-top: 28px;
    margin-left: 120px;
}

.or-imgWidth{
    width: 350px;
    border: 10px solid white;
}

.alignLeft{
    float:left;
}

.table{
    font-size: 20px;
    width: 60%;
    margin-left: 180px;
    float: left;

}

.table th{
    text-align: center;
    height: 70px;
    background: lightcyan;
    border: 2px solid white;
}

.table td{
    text-align: left;
    height: 33px;
    background: lightcyan;
    border: 2px solid white;
}

.table2{
    float: left;
    font-size: 20px;
    width: 50%;
    margin-left: 500px;
}

.table2 th{
    text-align: center;
    height: 70px;
    background: lightcyan;
    border: 2px solid white;
}

.table2 td{
    height: 33px;
    background: lightcyan;
    border: 2px solid white;
}

.table3{
    font-size: 20px;
    width: 50%;
    margin-left: 500px;
}

.table3 th{
    text-align: center;
    height: 70px;
    background: lightcyan;
    border: 2px solid white;
}

.table3 td{
    text-align: left;
    height: 33px;
    background: lightcyan;
    border: 2px solid white;
}

.font{
    font-size: 27px ;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 65em;

}

.h{
    margin-left: 750px;

}

.h2{
    margin-left: 750px;

}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li a{
    display:block;
    background: #ececed;
    padding: 15px 30px 15px;
    font-size: 35px;
    text-decoration: none;
    color: #4D4D4D;
}

.menu li a:hover{
    background: #4D4D4D;
    color:#ffff;
}

.menu ul li{
    border-left: 1px solid #4D4D4D;
}

.menu ul li:last-child{
    border-right: 1px solid #4D4D4D;
}

.link tr td{
    font-size: 27px;
    padding-bottom: 50px;
    background: cyan;
    float:left;
}

/*Sub menu*/

.menu li ul{
    position: absolute;
    display: none;
    list-style: none;
}
.menu li:hover ul{
    display: block;
}

.menu li ul li{
    border: 1px solid #c7c8ca;
}

.menu li ul li:last-child{
    border-right: 1px solid #c7c8ca;
}

.menu li ul li a{
    padding: 10px;
    font-size: 25px;
}
