.table4{
    font-size: 20px;
    width: 50%;
    margin-left: 180px;
    float: left;

}

.table4 th{
    text-align: center;
    height: 40px;
    background: lightcyan;
    border: 2px solid white;
}

.table4 td{
    text-align: left;
    height: 33px;
    background: lightcyan;
    border: 2px solid white;
}

.select {
    font-size:20px;

}
